.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #15d5f3;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

.header h2 {
  margin: 0;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
}
