.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 220px;
  height: calc(100vh - 60px);
  background-color: #f6990e; /* dark blue */
  color: white;
  overflow-y: auto;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar ul li:hover {
  background-color: #334155;
}