.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-box {
  background: rgba(17, 232, 210, 0.93);
  padding: 20px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  text-align: center;
}

.popup-box h3{
    margin-bottom: 20px;
    font-weight: 600;
}

.popup-box input {
  width: 80%;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #161414b8;
}

.popup-box button {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  background: #f135c5;
}

.popup-box button.cancel {
  background: #e8e406;
}
